target/
lib_managed/
src_managed/
project/boot/
.idea/
.idea_modules/
.history
config.dat
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
